apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: flask-login-monitor
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: flask-login
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
