apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: flask-login-podmonitor
  namespace: monitoring
  labels:
    release: monitoring
spec:
  namespaceSelector:
    matchNames:
      - default
  selector:
    matchLabels:
      app: flask-login
  podMetricsEndpoints:
    - port: http
      path: /metrics
      interval: 15s
